In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"data/filter.csv")
df.head()

,No. of DSA questions,CGPA,Knows ML,Knows DSA,Knows Python,Knows JavaScript,Was in Coding Club,No. of backlogs,Placement Package
0,151,8.52,Yes,Yes,Yes,Yes,Yes,2,20.01
1,24,1.23,Yes,No,No,Yes,Yes,1,10.97
2,333,9.85,No,Yes,Yes,No,No,1,7.51
3,132,1.96,No,No,Yes,No,No,4,4.96
4,198,9.73,Yes,Yes,Yes,Yes,No,1,46.30

In [4]:
sampled_df = df.sample(n=100000, random_state=42)

In [5]:
sampled_df.to_csv('filter1.csv', index=False)

In [6]:
df1 = pd.read_csv(r'filter1.csv')

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   No. of DSA questions  100000 non-null  int64
 1   CGPA                  100000 non-null  float64
 2   Knows ML              98025 non-null   object
 3   Knows DSA             100000 non-null  object
 4   Knows Python          97995 non-null   object
 5   Knows JavaScript      98044 non-null   object
 6   Was in Coding Club    100000 non-null  object
 7   No. of backlogs       100000 non-null  int64
 8   Placement Package     100000 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 6.9+ MB